@import '~bootstrap/scss/functions';
@import './components/variables';
@import '~bootstrap/scss/bootstrap';
@import "/node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
$fa-font-path: '/node_modules/@fortawesome/fontawesome-free/webfonts';
@import "/node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "~bootstrap-slider/src/sass/bootstrap-slider";


@mixin v-scrollbar {
    overflow-y: scroll ;
    overflow-x: hidden;
    margin-right: 10px;;

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #070713;

            &:hover {
                background-color: $secondary;
            }
        }
        
    }
    
}

html, body {
    vertical-align: baseline;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #0c0e29;

}

::-webkit-scrollbar-thumb {
    background-color: #070713;
    border-radius: 5px;

    &:hover {
        background-color: $secondary;
    }
}

main {
    padding-top: 2rem 2rem 0;
    background-image: url(../image/sud-bg.svg);
    background-position: center bottom;
    background-color: #08091b;
    background-repeat: no-repeat;
}

#video {
    display: none;
}

#preview {
    display: block;
    width: 640px;
    height: 352px;
    margin: 0 auto;
    background-color: $dark;
    border-radius: $border-radius-sm;
}

.btn-primary {
    background: linear-gradient(to right, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);

    &:hover {
        background: linear-gradient(to right, rgba(45,193,201,1) 0%, rgba(57,100,208,1) 100%);
    }
}

.page-footer {
    padding: $grid-gutter-width;
    display: flex;
    align-items: stretch;
    height: calc(100vh - 384px);
    min-height: 17.75rem;
}

#toolbar {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: $dark;
    padding: 1rem;
    border-radius: $border-radius;

    button {
        text-align: center;
        width: 2.625rem;
        height: 2.625rem;
        margin-bottom: .5rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

#tracks {
    width: 100%;
    height: 100%;
    padding: 0.1rem;


    .track {
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

}

#tracks-content {
    height: calc(100% - 5rem);

    @include v-scrollbar();
}

.track {
    display: flex;
    background-color: $dark;
    border-radius: $border-radius;
    padding: 1rem;

    &.selected {
        background-color: #0c0e29;
    }
}

.track-label {
    width: 10rem;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    

    .text {
        line-height: 2rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

   
}

.track-timeline {
    width: 100%;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.buttons {
    white-space: nowrap;

    .btn {
        width: 2rem;
        height: 2rem;   
        border-radius: 1rem;
    }
}

.slider  {
    &.slider-horizontal{
        width: 100%;

        .slider-track {
            background-color: #2c2e53;
            background-image: none;
            box-shadow: none;
            height: 0.25rem;
        }
    }

    .slider-selection {
        background-color: $primary;
        background-image: none;
        box-shadow: none;
    }

    .slider-handle {
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }
    
}


#properties {
    width: 20em;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: $dark;
    border-radius: $border-radius;
    padding: 1rem;
}

#properties-empty {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .selected & {
        display: none;
    }
}

#properties-form {
    display: none;
    height: 100%;

    @include v-scrollbar();

    .selected & {
        display: block;
    }

    textarea {
        height: calc(100hv - 510px);
        resize: none;

        &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    }
}

option[value="Dancing Script"] {
    font-family: 'Dancing Script';
}

option[value="Lora"] {
    font-family: 'Lora';
}

option[value="Roboto"] {
    font-family: 'Roboto';
}

.image-selector {

    img {
        width: 6.125rem;
        height: auto;
    }

    input {
        display: none;

        &:checked + label {
            background-color: $secondary;
            border-radius: $border-radius-sm;
        }
    }
}